@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: sans-serif;
  position: relative;
}

.login-page {
  background-image: url("bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
